article.subject-page .content img {
    margin: 0 5px;
    min-width: 250px;
}

article.subject-page .content>h1 {
    margin-top: 30px;
    width: 100%;
}

article.subject-page .content>h2 {
    margin-top: 60px;
    width: fit-content;
}

article.subject-page p {
    display: flow-root;
}

img.img-end {
    float: inline-end;
}

img.img-start {
    float: inline-start;
}

/* Secondary Elements */
.general nav.breadcrumb{
    background-color: var(--white) !important;
}