.accordion-button,
.accordion-button:focus,
.accordion-button:not(.collapsed){
    background-color: var(--black);
    color: var(--white);
}

article.subject-page h1{
    margin-top: 34px;
}

/* Contact#Form */
label.firstLast,
label.phoneNumber,
label.emailAddress,
label.timeZone,
label.petsName,
label.petType,
label.petAge
{
    color: var(--prim-sky-blue);
    margin: 5px 0;
}

input.firstLast,
input.phoneNumber,
input.emailAddress,
input.timeZone,
input.petsName,
input.petType,
input.petAge{
    margin-left:15px;
}
.form-group{
    padding: 10px;
    margin: 15px 0;
}
.form-group button.sub-btn{
    width: fit-content;
    margin: 15px 0;
}
