:root {
    /* General */
    --prim-midnight-blue: rgb(0, 59, 109);
    --prim-sky-blue: rgb(102, 153, 204);
    --sec-dim-gray: rgb(103, 103, 103);
    --sec-silver: rgb(189, 189, 189);
    --general-sec-silver: rgba(189, 189, 189, .2);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: Arial !important;
}

h1,
h2,
h3,
h4 {
    color: var(--prim-midnight-blue);
    font-weight: bold;
}

h2 {
    font-weight: normal;
}

/* Navigation */
nav.navbar {
    z-index: 9999;
    background-color: var(--sec-silver);
    border-bottom: 5px solid var(--prim-sky-blue);
}

.navbar-brand {
    margin-left: 10px;
}

.navbar-brand img {
    height: 90px;
}

.navbar-items {
    align-self: flex-end;
}

.navbar-items>ul>li {
    margin: 0 5px;
    border-radius: 5px;
}

nav button.navbar-toggler {
    margin-right: 15px !important;
}

nav .dropdown-menu {
    background-color: var(--prim-midnight-blue) !important;
}

nav .dropdown-menu a {
    text-align: left;
}

nav .dropdown-menu li:hover,
nav .dropdown-menu a:hover {
    background-color: var(--prim-sky-blue);
}


/* Navigation LINKS */
.nav-item a {
    color: var(--white) !important;
    width: 100px;
    text-align: center;
}

.nav-item>a.active {
    background-color: var(--prim-sky-blue) !important;
    border-radius: 5px;
}

.input-group {
    width: 300px;
}

/* Global LINKS/BUTTONS */
a {
    color: var(--prim-midnight-blue);
}

a:hover {
    color: var(--sec-silver);
}

a:active {
    color: purple;
}

.nav-item a:hover,
aside>.content button.sub-btn:hover,
.btn-outline-primary:hover {
    color: var(--sec-silver) !important;
    background-color: var(--prim-sky-blue) !important;
    border-radius: 5px;
}

.navbar-items>ul>li,
aside>.content .sub-btn,
.form-group .sub-btn {
    color: var(--white);
    background-color: var(--prim-midnight-blue) !important;
}

/* General */
.general {
    margin: 25px auto;
    background-color: var(--general-sec-silver);
}

span.seperate {
    border: 1px solid var(--prim-sky-blue);
    height: 1px;
    width: 40%;
    display: block;
    margin: 15px auto;
}

article.dogs>span.seperate {
    width: 35%;
}

/* ARTICLE:intro */
article.intro h1,
article.subject-page>h1 {
    margin-top: 10px;
}

/* ARTICLE:dogs,cats,birds */
article.dogs,
article.cats,
article.subject-page,
article.birds {
    background-color: var(--bs-body-bg);
    margin: 10px;
    width: fit-content;
    filter: drop-shadow(1px 1px 3px var(--black));
}

article.dogs img,
article.birds img,
article.subject-page img,
article.cats img {
    padding: 12px;
    border-radius: 5px;
    filter: drop-shadow(1px 1px 3px var(--black));
}

article.dogs .card-body,
article.birds .card-body {
    margin: 0 10px;
}

article.cats .card-body {
    margin: 0 10px;
}

article.cats p.card-text,
article.birds p.card-text,
article.dogs p.card-text {
    margin: 10px 0;
}

/* ASIDE */
aside {
    float: right;
}

aside>.content {
    border-top: none;
    border-left: 1px solid var(--prim-sky-blue);
    display: block;
    padding-left: inherit;
}

aside>.content>h2 {
    font-weight: bold;
}

aside>.content .form-group {
    text-align: center;
}

aside>.content .sub-btn {
    margin: 10px 0;
}

@media (max-width:767px) {
    aside>.content {
        border-top: 1px solid var(--prim-sky-blue);
        border-left: none;
        margin-top: 30px;
    }

    aside>.content h2 {
        margin-top: 10px;
        text-align: center;
    }

    footer {
        padding-bottom: 20px;
    }

    footer .logo-pic {
        text-align: center;
    }
}

/* FOOTER */
footer {
    background-color: var(--general-sec-silver);
    border-top: 1px solid var(--prim-sky-blue);
}

footer .social {
    margin: 20px auto;
    width: fit-content;
}

footer a {
    color: var(--black);
    text-transform: capitalize;
}

footer a:hover {
    color: var(--prim-midnight-blue);
}